/* Navbar */
.nav .navbar-nav {
  font-size: 15px;
}
#searchForm {
  margin-right: 100px;
}
@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
h2,h4{
  text-align: center;
}

/* .navbar-header .navbar-brand a : hover {
  background : blue;
} */