/* Navbar */
.nav .navbar-nav {
  font-size: 15px;
}
#searchForm {
  margin-right: 100px;
}
@media (max-width: 1200px) {
  #searchForm {
    display: none;
  }
}
h3{
  text-align: center;
}
.search{
  position: relative;

}
.search .fa-search{
  position: absolute;
  top: 10px;
  right: 6px;
}
.add-search {
  margin-bottom: 15px;
}
