<div class="container">  
    <h4>Employess List</h4>  
    <button class="btn btn-primary" style="float:right" (click)="addEmp()">Add Employee</button><br>  
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th>Id</th>
          <th>Name</th>
          <th>Profile</th>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let emp of employees">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.profile}}</td>
          <td><button class="btn btn-primary" (click)="editEmp()">Edit</button></td>
          <td><button class="btn btn-danger" (click)="deleteEmp()">Delete</button></td>
        </tr>
        
      </tbody>
    </table>

    <form *ngIf="showForm">
        <h2>New Employee</h2>
        <div class="form-group">
            <div class="col-md-7">
              <label >Id:</label>
              <input type="text" class="form-control" name = "id" [(ngModel)] ="newEmployee.id">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-7">
              <label for="name">Name:</label>
              <input type="text" class="form-control" name="name"[(ngModel)] ="newEmployee.name">
             </div>
        </div>
        
        <div class="form-group">
             <div class="col-md-7">
                  <label for="profile">Profile:</label>
                  <input type="text" class="form-control" name="profile" [(ngModel)] ="newEmployee.profile">
             </div>
        </div><br><br>

        <div class="col-sm-6" style="padding:10px">
            <button type="submit" class="btn btn-primary" (click)="addEdit(newEmployee)">Submit</button>
            <button type="submit" class="btn btn-warning" (click)="cancel()">Cancel</button>
        </div>
    </form>

  </div>
   